<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Yuan-Programmer" />

		<title>后台管理</title>
		<link rel="shortcut icon" href="../static/favicon.ico">
		<link href="/static/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
		<link href="/static/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
		<link href="/static/css/plugins/iCheck/custom.css" rel="stylesheet">
		<link href="/static/css/animate.min.css" rel="stylesheet">
		<link href="/static/css/style.min862f.css?v=4.1.0" rel="stylesheet">

	</head>
	<body class="gray-bg">
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="row">
				<div class="col-sm-6">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>菜品分组</h5>
							<div class="ibox-tools">
								<button id="addUserBtn" class="btn btn-xs btn-rounded btn-primary"><i class="fa fa-plus"></i> 添加</button>
							</div>
						</div>
						<div class="ibox-content">
							<div id="foodTagsTable" th:fragment="foodTagsTable">
								<table class="footable table table-stripped toggle-arrow-tiny">
									<thead>
										<tr>
											<th>编号</th>
											<th>标签名</th>
											<th>类型</th>
											<th hidden="hidden">排序</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="foodTags: ${foodTags_list}">
											<td th:text="${foodTags.id}">1</td>
											<td th:text="${foodTags.name}">ydw</td>
											<td th:text="${foodTags.types}"></td>
											<td th:text="${foodTags.codes}" hidden="hidden"></td>
											<td style="width: 50px;">
												<button th:onclick="updateBtn([[${foodTags.id}]],[[${foodTags.name}]]),[[${foodTags.types}]],[[${foodTags.codes}]]" class="updateUserBtn btn btn-warning btn-xs btn-rounded" type="button">
													<i class="fa fa-edit"></i> 编辑
												</button>
											</td>
											<td style="width: 50px;">
												<button th:onclick="|deleteBtn(${foodTags.id})|" class="deleteUserBtn btn btn-danger btn-xs btn-rounded" type="button">
													<i class="fa fa-trash"></i> 删除
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 添加用户的弹出框 -->
		<div id="modal-form-add" class="modal fade" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-sm-12 b-r">
		                        <div class="ibox-title">
		                            <h5>添加新的菜品标签</h5>
		                        </div>
		                        <div id="addForm" class="ibox-content">
		                            <form class="form-horizontal">
		                                <div class="form-group">
		                                    <label class="col-sm-3 control-label">标签名：</label>
		                                    <div class="col-sm-8">
		                                        <input id="addFoodTagsName" type="text" placeholder="标签名" class="form-control" maxlength="20">
		                                    </div>
		                                </div>
										<div class="form-group">
											<label class="col-sm-3 control-label">类型：</label>
											<div class="col-sm-8">
												<input id="addFoodTagsTypes" type="text" placeholder="类型" class="form-control" maxlength="20">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">排序：</label>
											<div class="col-sm-8">
												<input id="addFoodTagsCodes" type="number" placeholder="100" class="form-control" maxlength="4" min="1" max="1000">
											</div>
										</div>
		                                <div>
		                                    <button id="addSubmitBtn" class="btn btn-primary btn-primary pull-right m-t-n-xs" type="button"><i class="fa fa-check"></i>&nbsp;提交
		                                    </button>
		                                </div>
		                            </form>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		
		<!-- 修改用户的弹出框 -->
		<div id="modal-form-update" class="modal fade" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-sm-12 b-r">
		                        <div class="ibox-title">
		                            <h5>修改菜品分类</h5>
		                        </div>
		                        <div class="ibox-content">
		                            <form id="updateForm" class="form-horizontal">
										<div class="form-group">
											<label class="col-sm-3 control-label">编号：</label>
											<div class="col-sm-8">
												<input id="updateFoodTagsId" type="text" placeholder="编号" class="form-control" disabled>
											</div>
										</div>
		                                <div class="form-group">
		                                    <label class="col-sm-3 control-label">标签名：</label>
		                                    <div class="col-sm-8">
		                                        <input id="updateFoodTagsName" type="text" placeholder="标签名" class="form-control" maxlength="20">
		                                    </div>
		                                </div>
										<div class="form-group">
											<label class="col-sm-3 control-label">类型：</label>
											<div class="col-sm-8">
												<input id="updateFoodTagsTypes" type="text" placeholder="类型" class="form-control" maxlength="20">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">排序：</label>
											<div class="col-sm-8 " >
												<input id="updateFoodTagsCodes" type="number" class="form-control" maxlength="4" placeholder="100" max="1000" min="1">
											</div>
										</div>
		                                <div>
		                                    <button id="updateSubmitBtn" class="btn btn-primary btn-primary pull-right m-t-n-xs" type="button"><i class="fa fa-check"></i>&nbsp;提交
		                                    </button>
		                                </div>
		                            </form>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<script src="/static/js/jquery.min.js?v=2.1.4"></script>
		<script src="/static/js/bootstrap.min.js?v=3.3.6"></script>
		<script src="/static/js/plugins/peity/jquery.peity.min.js"></script>
		<script src="/static/js/content.min.js?v=1.0.0"></script>
		<script src="/static/js/plugins/iCheck/icheck.min.js"></script>
		<script src="/static/js/demo/peity-demo.min.js"></script>
		<script src="/static/js/myJS/index.js"></script>
		<script th:inline="javascript">

				// 发送请求
				$.ajax({
					type: 'POST',
					url: '/foods/foodsTags/delete',
					data: {
						'id': id // 编号
					},
					success: function (data) {
						// 局部刷新
						$('#foodTagsTable').html(data)
					},
					error: function (err) {
						console.log(err)
						alert("操作失败，请刷新重新尝试！")
					}
				})
			}
			// 点击修改按钮

			function updateBtn(id, name,types,codes) {
				// 传递数据到弹出框
				$('#modal-form-update').modal('show');
				$('#updateFoodTagsId').val(id)
				$('#updateFoodTagsName').val(name)
				$('#updateFoodTagsTypes').val(types)
				$('#updateFoodTagsCodes').val(codes)
			}
			// 修改提交
			$('#updateSubmitBtn').click(function () {
				var id = $('#updateTypesId').val()
				var name = $('#updateTypesName').val()
				var types = $('#updateFoodTagsTypes').val()
				var codes = $('#updateFoodTagsCodes').val()

				if (name.length == 0) {
					alert('标签名不能为空')
				}else if(types.length == 0){
					alert('类名不能为空')
			    }else if (codes.length == 0){
					alert('排序不能为空')
				}else {
					$.ajax({
						type: 'POST',
						url: '/foods/foodsTags/update',
						data: {
							'id': id,
							'name': name,
							'types': types,
							'codes': codes
						},
						success: function (data) {
							// 关闭modal框
							$('#modal-form-update').modal('hide')
							// 清空modal框里上一次的数据
							document.getElementById("updateForm").reset()
							// 局部刷新
							$('#foodTagsTable').html(data)
						},
						error: function (err) {
							console.log(err)
							alert('操作失败，请刷新重新尝试！')
						}
					})
				}
			})
			// 添加
			$('#addSubmitBtn').click(function () {
				var name = $('#addFoodTagsName').val()
				var types = $('#addFoodTagsTypes').val()
				var codes = $('#addFoodTagsCodes').val()
				// 非空效验
				if (name.length == 0) {
					alert("标签名不能为空")
				} else if (types.length == 0) {
					alert("类名不能为空")
				} else if(codes.length == 0){
					alert("排序不能为空")
			    }else {
					$.ajax({
						type: 'POST',
						url: '/foods/foodsTags/insert',
						data: {
							'name': name, //标签名
							'types': types, //类名
							'codes': codes //排序
						},
						success: function (data) {
							// 关闭modal框
							$('#modal-form-add').modal('hide')
							// 清空modal框里上一次的数据
							document.getElementById("addForm").reset()
							// 局部刷新
							$('#foodTagsTable').html(data)
						},
						error: function (err) {
							console.log(err)
							alert("操作失败，请刷新重新尝试！")
						}
					})
				}
			})
		</script>
	</body>
</html>
